.item-container {
    background-color: $color2;
    width: 40vw;
    min-height: 60vh;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    button {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: .6rem;
        border: none;
        cursor: pointer;
        border-radius: .5rem;
        color: white;
        background-color: red;
        transition: ease-in-out .2s;
        &:hover {
            -webkit-box-shadow: inset 0px 0px 199px 75px rgba(0,0,0,0.46);
            -moz-box-shadow: inset 0px 0px 199px 75px rgba(0,0,0,0.46);
            box-shadow: inset 0px 0px 199px 75px rgba(0,0,0,0.46);
        }
    }
    margin-bottom: 1rem;
}

.items-container {
    width: 100%;
}

.item-container-no-item-message {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: $color4;
        font-size: 2rem;
        margin: 1rem;
    }
}

@media screen and (max-width:1000px) {
    .item-container {
        width: 80vw;
    }
}