.item-input {
    width: 40vw;
    height: 2rem;
    display: flex;
    flex-flow: nowrap;
    margin-bottom: 2rem;
    .input-text {
        width: 30vw;
    }
    .input-submit {
        width: 10vw;
        background-color: $color2;
        border: none;
        color: $color4;
        font-weight: bold;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: $color4;
            color: $color2;
        }
    }
}