.item-input {
    width: 40vw;
    height: 2rem;
    display: flex;
    flex-flow: nowrap;
    margin-bottom: 2rem;
    .input-text {
        width: 30vw;
        background-color: $color4;
        color: $color3;
        font-weight: bold;
        font-size: 1.2rem;
        border: none;
    }
    .input-submit {
        width: 10vw;
        background-color: $color2;
        border: none;
        color: $color4;
        font-weight: bold;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background-color: $color4;
            color: $color2;
        }
    }
}

@media screen and (max-width:1000px) {
    .item-input {
        width: 80vw;
        margin-top: 6rem;
        .input-text {
            width: 60vw;
        }
        .input-submit {
            width: 20vw;
        }
    }
}